{% extends "base.html" %}


{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tweet Form</title>
</head>
<body>
    <h1>Create a New Tweet!</h1>
    <form action="" method="post">
        <!-- {{ form.hidden_tag() }} -->
        <!-- can also do this -->
        {{ form.csrf_token() }}
        <p>{{ form.author(placeholder="Enter username") }}</p>
        <p>{{ form.tweet(placeholder="Enter tweet") }}</p>
        <p>{{ form.submit() }}</p>
    </form>

</body>
</html>
{% endblock %}
